html
    head
        title= pageTitle
        script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(type='text/javascript', src="/js/index.js")


    body
        h1= 'Zero project'

        //ul
        //    each user in users
        //        li
        //            h3= user.name
        //            p= "He says: " + user.firstWord

        button#get-users= "get users"
        button#change-user= "change user"
        button#delite-user= "delite user"


        h2= 'List of Users'
        ul.user-list
