html
    head
        title= pageTitle
        script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(type='text/javascript', src="/js/index.js")


    body
        h1= 'Landing'
        h2= 'Create user'
        form#create
            input#create-email(name='email')
            input#create-password(name='password')
            button#add-user= "add user"

        h2= 'login'
        form#login
            input#login-email(name='email')
            input#login-password(name='password')
            button#login= "login"
